{%extends "Layouts/master.html"%}


{% load static %}

{% block body%}



<section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
      <h4 class="text-uppercase">Our Products</h4>
      <a href="index.html" class="btn-link">View All Products</a>
    </div>
    <div class="swiper product-swiper open-up" data-aos="zoom-out">
      <div class="swiper-wrapper d-flex">
        {%for product in Products%}
        <div class="swiper-slide">

          
          <div class="product-item image-zoom-effect link-effect">
            <div class="image-holder position-relative">
              <a href="index.html">
                <img src="{{product.image.url}}" alt="categories" class="product-image img-fluid" style="max-width: 100%; height: 350px; overflow-y: hidden;">
              </a>
              <a href="index.html" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
              <div class="product-content">
                <h5 class="element-title text-uppercase fs-5 mt-3">
                  <a href="{%url 'product' product.id%}">{{product.name}}</a>
                </h5>
                <a href="" class="text-decoration-none" > <span>${{product.price}}</span> </a>
                <a href="{%url 'add_to_cart' product.id%}" class="btn-add-to-cart">
                  Add to cart
                </a>
              </div>
            </div>
          </div>
          
        </div>
        {%endfor%}
       
        
       
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24">
        <use xlink:href="#arrow-left"></use>
      </svg></div>
    <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24">
        <use xlink:href="#arrow-right"></use>
      </svg></div>
  </div>
</section>





  <section class="video py-5 overflow-hidden">
    <div class="container-fluid">
      <div class="row">
        <div class="video-content open-up" data-aos="zoom-out">
          <div class="video-bg">
            <img src="{%static 'images/Bag.jpg'%}" alt="video" class="video-image img-fluid">
          </div>
          <div class="video-player">
            <a class="youtube" href="https://www.youtube.com/embed/pjtsGzQjFM4">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="#play"></use>
              </svg>
              <img src="{%static 'images/text 1.png'%}" alt="pattern" class="text-rotate">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>





<section class="newsletter bg-light" style="background: url(../static/images/pattern-bg.png) no-repeat;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 py-5 my-5">
          <div class="subscribe-header text-center pb-3">
            <h3 class="section-title text-uppercase">Sign Up for our newsletter</h3>
          </div>
          <form id="form" class="d-flex flex-wrap gap-2">
            <input type="text" name="email" placeholder="Your Email Addresss" class="form-control form-control-lg">
            <button class="btn btn-dark btn-lg text-uppercase w-100">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </section>

{%endblock body%}